									<div class="toolbar">
										<ul class="toolbar-share">
											<!--<li>
												<a href="" class="btn-share btn-swap" title="Partager la page">
													<span>
														<img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/ico-toolbar-share-off.png" alt="Partager la page">
													</span>
												</a>
												</li>-->
										</ul>
										<p class="nav-up"><a href="#nav-top">Retour en haut de page</a></p>
									</div>
									</article>
								</div>
								<!-- col-main --> 
								<div class="col-second">
									<div class="col-second-inner">
										<div class="ads ads-aside">
											<div id="revive_slot2" style="position: relative; top: 0px; left: 0px;"> </div>
										</div>
									</div>
									<!-- col-second-inner -->
									<nav class="nav-context" role="navigation">
										<ul>
											<li>
												<a href="http://www.boamp.fr/Espace-entreprises/Utiliser-les-services-du-BOAMP/Sommaire">Utiliser les services du BOAMP</a>
											</li>
											<li>
												<a href="http://www.boamp.fr/Espace-entreprises/Comment-repondre-a-un-marche-public/Sommaire">Comment répondre à un marché public ?</a>
											</li>
											<li>
												<a href="http://www.boamp.fr/Espace-entreprises/Actualites/Sommaire" class="active is-open">Actualités</a>
												<ul>
													<li>
														<a href="#" class="active is-open">Simulateur de calcul des intérêts moratoires des marchés publics</a>
													</li>
												</ul>
												<ul>
													<li>
														<a href="http://www.boamp.fr/Espace-entreprises/Actualites/L-ordonnance-relative-aux-marches-publics-a-ete-publiee-cet-ete-selection-de-nouveautes">L’ordonnance relative aux marchés publics a été publiée cet été : sélection de nouveautés</a>
													</li>
												</ul>
												<ul>
													<li>
														<a href="http://www.boamp.fr/Espace-entreprises/Actualites/La-facturation-electronique-bientot-obligatoire-pour-les-marches-publics">La facturation électronique bientôt obligatoire pour les marchés publics</a>
													</li>
												</ul>
												<ul>
													<li>
														<a href="http://www.boamp.fr/Espace-entreprises/Actualites/Simplification-pour-les-marches-de-moins-de-25-000">Simplification pour les marchés de moins de 25 000 €</a>
													</li>
												</ul>
												<ul>
													<li>
														<a href="http://www.boamp.fr/Espace-entreprises/Actualites/Conseils-pour-repondre-a-un-avis-d-appel-public-a-la-concurrence">Conseils pour répondre à un avis d'appel public à la concurrence</a>
													</li>
												</ul>
												<ul>
													<li>
														<a href="http://www.boamp.fr/Espace-entreprises/Actualites/Marches-publics-simplifies-le-numero-de-Siret-a-la-place-de-differentes-attestions">Marchés publics simplifiés : le numéro de Siret à la place de différentes attestions</a>
													</li>
												</ul>
												<ul>
													<li>
														<a href="http://www.boamp.fr/Espace-entreprises/Actualites/Creer-un-compte-pour-recevoir-des-alertes">Créer un compte pour recevoir des alertes</a>
													</li>
												</ul>
												<ul>
													<li>
														<a href="http://www.boamp.fr/Espace-entreprises/Actualites/Les-alertes-du-BOAMP-sont-gratuites">Les alertes du BOAMP sont gratuites</a>
													</li>
												</ul>
											</li>
										</ul>
									</nav>
								</div>
								<!-- col-second -->
							</div>
							<!-- /row -->
						</main>
						<footer class="footer" role="contentinfo">
							<div class="footer-links">
								<ul>
									<li><a href="http://www.boamp.fr/Infos-generales/Qui-sommes-nous">Qui sommes-nous ?</a></li>
									<li><a href="http://www.boamp.fr/Infos-generales/Rediffusion-des-donnees">Rediffusion des données</a></li>
									<li><a href="http://www.boamp.fr/Infos-generales/Accessibilite">Accessibilité</a></li>
									<li><a href="http://www.boamp.fr/Infos-generales/Mentions-legales">Mentions légales</a></li>
									<li><a href="http://www.boamp.fr/mailing/contact-entreprise">Contacter le BOAMP</a></li>
									<li><a href="http://www.boamp.fr/Infos-generales/Plan-du-site">Plan du site</a></li>
									<li><a href="http://www.dila.premier-ministre.gouv.fr/actualites/presse/communiques/">Espace presse</a></li>
									<li><a href="http://rip.journal-officiel.gouv.fr">Répertoire des informations publiques</a></li>
								</ul>
							</div>
							<!-- col -->    
							<div class="footer-description">
								<p>Boamp.fr diffuse les avis d'appel public à la concurrence lancés par l'État, l’armée, les régions, les départements, les communes et leurs établissements.</p>
								<p>Il permet le repérage et la veille gratuite des opportunités d'affaire pour les entreprises. Il propose des outils pratiques pour comprendre les règles de la commande publique.</p>
							</div>
							<!-- col -->
							<div class="footer-links-external">
								<ul>
									<li><a href="http://www.gouvernement.fr" target="_blank">gouvernement.fr <img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/ico-link-external.png" alt="nouvelle fenêtre" title="nouvelle fenêtre"></a></li>
									<li><a href="http://legifrance.gouv.fr" target="_blank">legifrance.gouv.fr <img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/ico-link-external.png" alt="nouvelle fenêtre" title="nouvelle fenêtre"></a></li>
									<li><a href="http://service-public.fr" target="_blank">service-public.fr <img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/ico-link-external.png" alt="nouvelle fenêtre" title="nouvelle fenêtre"></a></li>
									<li><a href="http://france.fr" target="_blank">france.fr <img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/ico-link-external.png" alt="nouvelle fenêtre" title="nouvelle fenêtre"></a></li>
								</ul>
							</div>
							<!-- col -->
							<div class="footer-logo">
								<p><a href="http://www.dila.premier-ministre.gouv.fr/" target="_blank"><img class="logo-dila" src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/logo-dila.png" alt=""><strong>DILA</strong> - direction de l'information légale et administrative <img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/ico-link-external.png" alt="nouvelle fenêtre" title="nouvelle fenêtre"></a></p>
							</div>
							<!-- col -->
						</footer>