						<div class="nav-top" id="nav-top" >
							<div class="container">
								<ul class="nav-skip-links">
									<li><a href="#main">Aller au contenu</a></li>
									<li><a href="#nav-main">Aller à la navigation</a></li>
								</ul>
								<p class="contact-link"><a href="http://www.boamp.fr/mailing/contact-acheteur">Contacter le BOAMP</a></p>
							</div>
							<!-- container -->
						</div>
						<div class="ads ads-top">
							<div id="revive_slot1" style="position: relative; top: 0px; left: 0px;"> </div>
						</div>
						<div class="banner-outer">
							<header class="banner" role="banner">
								<div class="container">
									<div class="row">
										<div class="logo">
											<p class="logo-rf">
												<img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/logo-mariane.png" alt="République Française" />
											</p>
											<h1><a href="http://www.boamp.fr/" title="Boamp.fr"><img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/logo-boamp.png" alt="BOAMP.fr"></a></h1>
										</div>
										<div class="header-acheteur">
											<div class="head-annonceur">
												<p><a href="http://www.boamp.fr/Espace-entreprises"><span class="txt1">Espace</span> <span class="txt2">entreprise</span></a></p>
											</div>
											<!-- head-annonceur -->
											<div class="head-info">
												<div class="head-info-int">
													<h1><a href="http://www.boamp.fr/Espace-acheteurs">Espace acheteur public</a></h1>
													<p>Retrouver les conseils du BOAMP pour réussir vos achats publics, publier et dématérialiser vos avis de marché.</p>
												</div>
											</div>
											<!-- head-info -->
										</div>
										<!-- header-acheteur -->                                    
									</div>
									<!-- row -->
								</div>
								<!-- container -->
								<nav class="nav-main" id="nav-main" role="navigation">
									<button type="button" class="nav-main-toggle" data-toggle="collapse" data-target="#nav-main-list">Menu</button>
									<ul class="nav-main-first nav-main-desktop" id="nav-main-dropdown">
										<li><a href="http://www.boamp.fr/Espace-acheteurs" class="nav-main-item"><img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/ico_home.png" alt="Accueil" title="Accueil"></a></li>
										<li><a href="http://www.boamp.fr/Espace-acheteurs/Publier-un-avis-de-marche" class="nav-main-item">Publier un avis de marché</a></li>
										<li class="panel active">
											<a href="#" class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-1">Utiliser les services du BOAMP</a>
											<div class="nav-main-dropdown-inner collapse" id="nav-main-1">
												<div class="row">
													<div class="nav-main-dropdown-col-1">
														<p>
															<img src="http://www.boamp.fr/var/ezflow_site/storage/images/espace-acheteurs/utiliser-les-services-du-boamp/15588-4-fre-FR/Utiliser-les-services-du-BOAMP_menuimage.png" class="pull-Left" width="279" height="173"  alt="" />
														</p>
													</div>
													<!-- col -->
													<div class="nav-main-dropdown-col-2">
														<button title="fermer" data-toggle="collapse" data-target="#nav-main-1" class="btn-close" type="button"><img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/btn-close-pink.png" alt="fermer"></button>
														<h2>Utiliser les services du BOAMP</h2>
														<div role="presentation" class="clearfix">
															<ul class="nav-main-list-1">
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Simulateurs">Simulateurs</a></li>
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Le-service-de-dematerialisation-du-BOAMP/Sommaire">Le service de dématérialisation du BOAMP</a></li>
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Foire-aux-questions-FAQ">Foire aux questions (FAQ)</a></li>
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Offre-tarifaire-pour-la-publication-des-avis-au-BOAMP">Offre tarifaire pour la publication des avis au BOAMP</a></li>
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Modification-des-formulaires-europeens-au-1er-avril-2016">Modification des formulaires européens au 1er avril 2016</a></li>
															</ul>
															<ul class="nav-main-list-2">
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Des-formulaires-pour-tous-les-types-de-marches-et-procedures">Des formulaires pour tous les types de marchés et procédures</a></li>
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Les-organismes-et-les-supports-habilites-pour-dematerialiser-vos-marches-au-BOAMP">Les organismes et les supports habilités pour dématérialiser vos marchés au BOAMP</a></li>
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/La-dematerialisation-de-vos-marches-et-de-votre-publication">La dématérialisation de vos marchés et de votre publication</a></li>
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Conditions-generales-de-vente">Conditions générales de vente</a></li>
															</ul>
														</div>
														<p class="link-arrow"><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Sommaire">Consulter la rubrique</a></p>
													</div>
													<!-- col -->
												</div>
												<!-- row -->
											</div>
											<!-- nav-main-dropdown-inner -->  
										</li>
										<!-- panel -->
										<li class="panel">
											<a href="#" class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-2">Bien acheter avec le BOAMP</a>
											<div class="nav-main-dropdown-inner collapse" id="nav-main-2">
												<div class="row">
													<div class="nav-main-dropdown-col-1">
														<p>
															<img src="http://www.boamp.fr/var/ezflow_site/storage/images/espace-acheteurs/bien-acheter-avec-le-boamp/15597-3-fre-FR/Bien-acheter-avec-le-BOAMP_menuimage.png" class="pull-Left" width="279" height="173"  alt="" />
														</p>
													</div>
													<!-- col -->
													<div class="nav-main-dropdown-col-2">
														<button title="fermer" data-toggle="collapse" data-target="#nav-main-2" class="btn-close" type="button"><img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/btn-close-pink.png" alt="fermer"></button>
														<h2>Bien acheter avec le BOAMP</h2>
														<div class="clearfix">
															<ul class="nav-main-list-1">
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Bien-acheter-avec-le-BOAMP/10-conseils-pour-simplifier-les-marches-publics">10 conseils pour simplifier les marchés publics</a></li>
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Bien-acheter-avec-le-BOAMP/Le-sourcing-ou-la-collecte-d-informations">Le sourcing ou la collecte d’informations</a></li>
															</ul>
															<ul class="nav-main-list-2">
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Bien-acheter-avec-le-BOAMP/La-simplification-du-dossier-de-candidature">La simplification du dossier de candidature</a></li>
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Bien-acheter-avec-le-BOAMP/L-offre-anormalement-basse">L’offre anormalement basse</a></li>
															</ul>
														</div>
														<p class="link-arrow"><a href="http://www.boamp.fr/Espace-acheteurs/Bien-acheter-avec-le-BOAMP/Sommaire">Consulter la rubrique</a></p>
													</div>
													<!-- col -->
												</div>
												<!-- row -->
											</div>
											<!-- nav-main-dropdown-inner -->  
										</li>
										<!-- panel -->
										<li class="panel">
											<a href="#" class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-3">Actualités</a>
											<div class="nav-main-dropdown-inner collapse" id="nav-main-3">
												<div class="row">
													<div class="nav-main-dropdown-col-1">
														<p>
															<img src="http://www.boamp.fr/var/ezflow_site/storage/images/espace-acheteurs/actualites/15606-2-fre-FR/Actualites_menuimage.png" class="pull-Left" width="279" height="173"  alt="" />
														</p>
													</div>
													<!-- col -->
													<div class="nav-main-dropdown-col-2">
														<button title="fermer" data-toggle="collapse" data-target="#nav-main-3" class="btn-close" type="button"><img src="http://www.boamp.fr/extension/dilaboamp/design/dilaboamp/images/btn-close-pink.png" alt="fermer"></button>
														<h2>Actualités</h2>
														<div class="clearfix">
															<ul class="nav-main-list-1">
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Actualites/Projets-de-nouveaux-seuils-europeens"> Projets de nouveaux seuils européens</a></li>
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Actualites/Relevement-du-seuil-de-formalites-pour-les-marches-publics">Relèvement du seuil de formalités pour les marchés publics</a></li>
															</ul>
															<ul class="nav-main-list-2">
																<li><a href="http://www.boamp.fr/Espace-acheteurs/Actualites/Colloques-Performance-de-l-achat-public">Colloques Performance de l'achat public</a></li>
															</ul>
														</div>
														<p class="link-arrow"><a href="http://www.boamp.fr/Espace-acheteurs/Actualites/Sommaire">Consulter la rubrique</a></p>
													</div>
													<!-- col -->
												</div>
												<!-- row -->
											</div>
											<!-- nav-main-dropdown-inner -->  
										</li>
										<!-- panel -->
									</ul>
									<!-- nav-main-desktop -->
									<ul class="nav-main-first nav-main-mobile collapse" id="nav-main-list">
										<li><a href="http://www.boamp.fr/Espace-acheteurs" class="nav-main-item">Accueil</a></li>
										<li><a href="http://www.boamp.fr/Espace-acheteurs/Publier-un-avis-de-marche" class="nav-main-item">Publier un avis de marché</a></li>
										<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Sommaire" class="nav-main-item">Utiliser les services du BOAMP</a></li>
										<li><a href="http://www.boamp.fr/Espace-acheteurs/Bien-acheter-avec-le-BOAMP/Sommaire" class="nav-main-item">Bien acheter avec le BOAMP</a></li>
										<li><a href="http://www.boamp.fr/Espace-acheteurs/Actualites/Sommaire" class="nav-main-item">Actualités</a></li>
										<li><a href="http://www.boamp.fr/mailing/contact-acheteur" class="nav-main-item">Contact</a></li>
									</ul>
								</nav>
							</header>
						</div>
						<main class="main" id="main" role="main">
							<div class="row">
								<div class="col-main">
									<ul class="breadcrumb">
										<!-- Path content: START -->
										<li><a href="http://www.boamp.fr/Espace-acheteurs">Accueil</a></li>
										<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP">Utiliser les services du BOAMP</a></li>
										<li><a href="http://www.boamp.fr/Espace-acheteurs/Utiliser-les-services-du-BOAMP/Simulateurs">Simulateurs</a></li>
										<li class="active">{{step.simulator.label }}</li>
										<!-- Path content: END -->
									</ul>
									<article class="article" role="article">
